<div style="margin-top: 10px">
  <div  class="col-md-4 offset-md-4 box-login">
    <form #appForm="ngForm" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group">
        <label for="username">UserName</label>
        <input required class="form-control" #username="ngModel" [(ngModel)]="login.user" name="username" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" #password="ngModel" [(ngModel)]="login.pass" class="form-control" name="password" id="password">
      </div>
      <button class="btn btn-outline-success" style="margin-bottom: 10px" [disabled]="appForm.form.invalid"><span class="fa fa-sign-in"></span> SignIn</button>
    </form>
  </div>
</div>
